.RB {
  border: 1px solid red !important;
}

@import url("../fonts/SFProDisplay/stylesheet.css");

* {
  box-sizing: border-box;
}

body {
  font-family: "SF Pro Display", sans-serif;
  background: #f5f5f5;
}

.header {
  padding-top: 6px;
  padding-bottom: 6px;
  background: #0050b3;
}

.header-block {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input {
  font-size: 14px;
  line-height: 22px;
  padding: 5px 30px 5px 12px;
  width: 336px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.user,
.navigation,
.navigation-panel,
.navigation-link,
.icons-panel,
.icon-link,
.stories-header-buttons,
.stories-link {
  display: flex;
  align-items: center;
}

.user-avatar {
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.user-name {
  margin-left: 8px;
}

.user-name,
.navigation-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}

.navigation-link {
  text-decoration: none;
  margin-left: 12px;
}

.navigation-link::before,
.icons-panel::before {
  content: "";
  width: 1px;
  height: 16px;
  background: #003a8c;
  margin-right: 12px;
}

.navigation-panel {
  padding-left: 12px;
  padding-right: 12px;
}

.icon-link {
  margin-right: 12px;
  position: relative;
}

.notification {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #f5222d;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 16px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  top: -8px;
  left: 12px;
}

.header-icon {
  fill: #002766;
}

.header-icon:hover {
  fill: white;
}

.icon-link:last-child::before {
  content: "";
  align-items: center;
  width: 1px;
  height: 16px;
  background: #003a8c;
  margin-right: 12px;
}

.container {
  max-width: 1200px;
  margin: auto;
  margin-top: 16px;
  display: flex;
}

.menu-sidebar {
  width: 192px;
  margin-bottom: 16px;
}

.menu-sidebar .user {
  margin-left: 10px;
}

.menu-sidebar .user-name {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}

.nav-group {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  margin-bottom: 24px;
}

.nav-icon {
  fill: #1890ff;
}

.nav-text {
  margin-left: 8px;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}

.nav-icon-dropdown {
  fill: #bfbfbf;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  text-decoration: none;
  border-radius: 4px;
  color: #1890ff;
}

.nav-link-dropdown {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  text-decoration: none;
}

.nav-text-dropdown {
  color: #1890ff;
  margin-left: 8px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

.nav-link.active {
  font-weight: 600;
  color: #262626;
  background: #ffffff;
}

.nav-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #262626;
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 4px;
}

.main-feed {
  width: 588px;
  margin-left: 12px;
  margin-right: 24px;
}

.create-post {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: hidden;
}

.create-post-header {
  background: #f5f5f5;
  padding: 9px 16px;
}

.create-post-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  margin: 0;
}

.create-post-body {
  display: flex;
  align-items: flex-start;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
}

.create-post-input {
  padding-top: 6px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 8px;
  width: 516px;
  min-height: 30px;
  max-height: 600px;
  word-wrap: anywhere;
  overflow-x: hidden;
  color: #000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

[contenteditable].create-post-input:empty:before {
  display: block;
  color: #8c8c8c;
  content: attr(placeholder);
}

.create-post-footer {
  width: 556px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid #e8e8e8;
}

button.tag {
  background: #f5f5f5;
  border-radius: 48px;
  border: none;
  display: flex;
  align-items: center;
  min-height: 40px;
  margin-right: 8px;
  font-weight: 600;
  padding: 8px 12px;
}

button.tag:active {
  padding-left: 13px;
  padding-right: 11px;
}

.post {
  margin: 16px 0;
  padding: 16px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.post-button-icon {
  fill: #595959;
}

.post-author {
  margin: 0;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #0050b3;
  text-decoration: none;
}

.post-header .post-time {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
}

.post-time::after {
  content: "";
  border-radius: 50%;
  width: 4px;
  height: 4px;
  margin-left: 6px;
  margin-right: 6px;
  background: #8c8c8c;
}

.post-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 12px;
}

.setting-icon {
  fill: #8c8c8c;
}

.post-text {
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}

.post-text a {
  color: #096dd9;
  text-decoration: none;
}

.post-image {
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  max-width: 100%;
}

.likes {
  margin-top: 9px;
  margin-bottom: 9px;
  display: flex;
  align-items: center;
}

.likes-counter {
  margin-left: 4px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}

.post-button {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: none;
  padding: 0;
}

.post-footer {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #e8e8e8;
  padding-top: 16px;
}

.post-button-text {
  margin-left: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}

.right-sidebar {
  width: 384px;
}

.stories {
  border: 1px solid transparent;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #ffffff;
  padding: 16px;
  padding-left: 24px;
  margin-bottom: 16px;
}

.stories-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.stories-header-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}

.stories-link {
  text-decoration: none;
}

.stories-archive-icon {
  fill: #0050b3;
}

.stories-archive-text,
.stories-setting-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #0050b3;
}

.stories-archive-text {
  margin-left: 4px;
}

.stories-archive-text::after {
  content: "";
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 4px;
  margin: 0 8px;
  background: #8c8c8c;
}

.story-item,
.story-item-grey {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 16px;
}

.story-image,
.story-image-grey {
  display: flex;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: contain;
  justify-content: center;
}

.story-image {
  background: none;
  border: 3px solid #1890ff;
}

.story-image-grey {
  background: #f5f5f5;
  border: 1px solid #d9d9d9;
}

.story-item-block {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.story-item-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #0050b3;
}

.story-item-desc {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
}

.stories-link-dropdown {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.stories-text-dropdown {
  margin-left: 8px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #0050b3;
}

.bday {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #ffffff;
  padding: 16px;
  margin-bottom: 16px;
}

.bday-text {
  margin-left: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}

.bday-text a {
  color: #0050b3;
  text-decoration: none;
}

.fanpage {
  border: 1px solid transparent;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #ffffff;
  padding-top: 8px;
  margin-bottom: 16px;
}

.fanpage-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 9px;
  border-bottom: 1px solid #d9d9d9;
}

.fanpage-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}

.fanpage-stats {
  display: flex;
  border-bottom: 1px solid #d9d9d9;
  margin: 16px;
}

.stats-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 16px;
  margin-right: 12px;
}

.stats-image {
  display: flex;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: contain;
  justify-content: center;
  background: #f5f5f5;
  border: 1px solid #d9d9d9;
}

.stats-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #0050b3;
}

.stats-message-icon {
  fill: #595959;
}

