.RB {
    border: 1px solid red;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #F5F5F5;
}

.header {
    padding-top: 6px;
    padding-bottom: 6px;
    background: #0050B3;
}

.header-block {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-input {
    font-size: 14px;
    line-height: 22px;
    padding: 5px 30px 5px 12px;
    width: 336px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.user, .navigation, .navigation-panel, .navigation-link, .icons-panel, .icon-link, .nav-link {
    display: flex;
    align-items: center;
}

.user-avatar {
    margin-right: 8px;
}

.user-name, .navigation-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

.navigation-link {
    text-decoration: none;
    margin-left: 12px;
}

.navigation-link::before, .icons-panel::before {
    content: '';
    width: 1px;
    height: 16px;
    background: #003A8C;
    margin-right: 12px;
}

.navigation-panel {
    padding-left: 12px;
    padding-right: 12px;
}

.icon-link {
    margin-right: 12px;
}

.header-icon {
    fill: #002766;
}

.header-icon:hover {
    fill: white;
}

.icon-link:last-child::before {
    content: '';
    align-items: center;
    width: 1px;
    height: 16px;
    background: #003A8C;
    margin-right: 12px;
}

.container {
    max-width: 1200px;
    margin: auto;
    margin-top: 16px;
    display: flex;
}

.menu-sidebar {
    max-width: 192px;
    margin-right: 12px;
}

.menu-sidebar .user-avatar {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.menu-sidebar .user-name {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #262626;
}

.nav-group {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    margin-bottom: 24px;
}

.nav-icon {
    fill: #1890FF;
    margin-right: 8px;
}

.nav-icon-dropdown {
    fill: #BFBFBF;
    margin-right: 8px;
}

.nav-link {
    padding: 4px 8px;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    border-radius: 4px;
}

.nav-link .nav-text-dropdown {
    color: #1890FF;
}

.nav-link.active {
    font-weight: 600;
    color: #262626;
    background: #FFFFFF;
}

.nav-title {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #262626;
    margin-top: 0;
    margin-left: 10px;
    margin-bottom: 4px;
}

.main-feed {
    width: 588px;
}

.create-post {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    overflow: hidden;
}

.create-post-header {
    background: #F5F5F5;
    padding: 9px 16px;
}

.create-post-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    margin: 0;
}

.create-post-body {
    display: flex;
    align-items: flex-start;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
}

.create-post-input {
    padding-top: 8px;
    width: 100%;
    min-width: 518px;
    color: #000;
}

[contenteditable].create-post-input:empty:before {
    display: block; 
    color: #8C8C8C;
    content: attr(placeholder);
}

button.tag {
    background: #F5F5F5;
    border-radius: 48px;
}